openapi: 3.0.3
info:
  title: Juro Contracts Templates API
  description: 'The Juro API (v3) programmatically drives contract automation and contract lifecycle management (CLM) on the Juro platform. External systems can initiate contracts from Juro templates, upload existing PDFs as contracts, read and update contract smart fields, send contracts for e-signature, download signed PDFs, and subscribe to contract lifecycle events via webhooks. All requests are authenticated with an `x-api-key` header. API access is plan-gated - it is included with a Juro subscription and enabled through your Customer Success Manager. A sandbox environment is available at https://api-sandbox.juro.io/v3.

    Endpoints under Contracts, Templates, and Signatures are confirmed from Juro''s public API reference (api-docs.juro.com). The Webhooks management endpoints are modeled from Juro''s help-center guidance; webhook subscriptions are primarily configured in the Juro app (Settings > Integrations > Webhooks). Operations marked `x-endpoint-modeled: true` were not confirmed in the public reference at the time of review.'
  version: '3.0'
  contact:
    name: Juro
    url: https://juro.com
  termsOfService: https://juro.com/terms/api-terms
servers:
- url: https://api.juro.com/v3
  description: Production
- url: https://api-sandbox.juro.io/v3
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Templates
  description: List and retrieve contract templates.
paths:
  /templates:
    get:
      operationId: listTemplates
      tags:
      - Templates
      summary: List templates
      description: Returns a paginated list of all contract templates accessible to the API key holder.
      parameters:
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of templates.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /templates/{template_id}:
    get:
      operationId: getTemplate
      tags:
      - Templates
      summary: Retrieve a template
      description: Retrieves a single template by ID, including its smart fields.
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      responses:
        '200':
          description: The requested template.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Skip:
      name: skip
      in: query
      required: false
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
    TemplateId:
      name: template_id
      in: path
      required: true
      description: The unique ID of the template.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: Number of records to return (max 200).
      schema:
        type: integer
        default: 50
        maximum: 200
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: The API key is missing or invalid.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key generated in the Juro app under Settings > Integrations > API. Sent as the `x-api-key` request header.
