openapi: 3.2.0
info:
  title: Juro Signatures API
  description: The Juro API (v3) programmatically drives contract automation and contract lifecycle management (CLM) on the Juro platform.
  version: '3.0'
  contact:
    name: Juro
    url: https://juro.com
  termsOfService: https://juro.com/terms/api-terms
servers:
- url: https://api.juro.com/v3
  description: Production
- url: https://api-sandbox.juro.io/v3
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Signatures
  description: Send contracts for e-signature and apply signatures.
paths:
  /contracts/{contract_id}/sign:
    post:
      operationId: signContract
      tags:
      - Signatures
      summary: Sign a contract
      description: Applies a signature to a contract on behalf of the API key holder's signing side.
      parameters:
      - $ref: '#/components/parameters/ContractId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: The contract signature result.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /contracts/{contract_id}/signing-request/{signing_side_uid}:
    post:
      operationId: sendSigningRequest
      tags:
      - Signatures
      summary: Send a contract for signing
      description: Sends a signing request to a signing side of the contract.
      parameters:
      - $ref: '#/components/parameters/ContractId'
      - $ref: '#/components/parameters/SigningSideUid'
      responses:
        '200':
          description: The signing request was sent.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /contracts/{contract_id}/signing-request/{signing_side_uid}/signatures/{signature_uid}:
    post:
      operationId: sendSigningRequestToSignatory
      tags:
      - Signatures
      summary: Send a signing request to a signatory
      description: Sends a signing request to a specific signatory within a signing side.
      parameters:
      - $ref: '#/components/parameters/ContractId'
      - $ref: '#/components/parameters/SigningSideUid'
      - $ref: '#/components/parameters/SignatureUid'
      responses:
        '200':
          description: The signing request was sent to the signatory.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    SignatureUid:
      name: signature_uid
      in: path
      required: true
      description: The UID of the signatory's signature.
      schema:
        type: string
    SigningSideUid:
      name: signing_side_uid
      in: path
      required: true
      description: The UID of the signing side.
      schema:
        type: string
    ContractId:
      name: contract_id
      in: path
      required: true
      description: The unique ID of the contract.
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: The API key is missing or invalid.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key generated in the Juro app under Settings > Integrations > API. Sent as the `x-api-key` request header.
