openapi: 3.2.0
info:
  title: Juro Templates API
  description: The Juro API (v3) programmatically drives contract automation and contract lifecycle management (CLM) on the Juro platform.
  version: '3.0'
  contact:
    name: Juro
    url: https://juro.com
  termsOfService: https://juro.com/terms/api-terms
servers:
- url: https://api.juro.com/v3
  description: Production
- url: https://api-sandbox.juro.io/v3
  description: Sandbox
security:
- apiKeyAuth: []
tags:
- name: Templates
  description: List and retrieve contract templates.
paths:
  /templates:
    get:
      operationId: listTemplates
      tags:
      - Templates
      summary: List templates
      description: Returns a paginated list of all contract templates accessible to the API key holder.
      parameters:
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A paginated list of templates.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /templates/{template_id}:
    get:
      operationId: getTemplate
      tags:
      - Templates
      summary: Retrieve a template
      description: Retrieves a single template by ID, including its smart fields.
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      responses:
        '200':
          description: The requested template.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: The API key is missing or invalid.
  parameters:
    TemplateId:
      name: template_id
      in: path
      required: true
      description: The unique ID of the template.
      schema:
        type: string
    Skip:
      name: skip
      in: query
      required: false
      description: Number of records to skip for pagination.
      schema:
        type: integer
        default: 0
    Limit:
      name: limit
      in: query
      required: false
      description: Number of records to return (max 200).
      schema:
        type: integer
        default: 50
        maximum: 200
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key generated in the Juro app under Settings > Integrations > API. Sent as the `x-api-key` request header.
